body{
    background-color: #011830
}

#container{
    padding: 50px;

}

#display{
    border: 2px solid #112233;
    position: fixed;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    top: 0;
    right: 0;
    font-family: monospace;
    color: red;
    
    }
    #title{
    text-align: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    }
    #content{
    padding: 20px;
    text-align: center;
    background-color: rgb(231, 224, 182);
    }
    #results{
    text-align: center;
    }
    .card-body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: cornflowerblue;
        text-decoration-line: underline;
        text-decoration-style: double;
        text-decoration-color: crimson;
        font-size: 30px;
    }
    .question{
        color: rgb(121, 121, 172);
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .answers{
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }